In [1]:
import pandas as pd
import numpy as np
from pymatgen.core import Composition
import re
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from matplotlib import rcParams
from IPython.core.pylabtools import figsize
import seaborn as sns
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings("ignore")

In [ ]:
band_gap = pd.read_csv('/data/zhr_bandgap.csv')
band_gap= band_gap.drop(columns = 'Unnamed: 0')
band_gap

,formula,spacegroup,hse_fold0,hse_fold1,hse_fold2,hse_fold3,hse_fold4,mean_hse
0,Sm0.2Sc0.8Cr1O3,221,2.168309,2.276464,2.005072,2.046627,2.233654,2.146025
1,Sm0.2Sc0.8Co1O3,221,0.000000,0.000000,0.567331,0.552417,0.000000,0.223950
2,Sm0.2Sc0.8Fe1O3,221,1.609860,1.370324,1.160970,1.492116,1.240138,1.374682
3,Sm0.2Sc0.8Nb1O3,221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Sm0.2Sc0.8Sn1O3,221,4.322509,0.000000,0.000000,4.273718,1.839433,2.087132
...,...,...,...,...,...,...,...,...
107629,SrGaO3,221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
107630,SrTaO3,221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
107631,SrAlO3,221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
107632,SrSbO3,221,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
107633,SrCeO3,221,3.852734,3.865561,3.980219,3.964093,3.892791,3.911080

In [3]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2, random_state=0)
def exclude_diff_hsedata(tmp:pd.Series):
    if np.sum(np.array(tmp) == 0) >= 4:
        return 0
    else:
        kmeans.fit(np.array(tmp).reshape(-1,1))
        labels = kmeans.labels_
        res = pd.DataFrame({'value': tmp, 'label': labels})
        class0 = res[res['label']==0]
        class1 = res[res['label']==1]
        if len(class0) > len(class1):
            return class0['value'].mean()
        else:
            return class1['value'].mean()

In [4]:
from time import time
start = time()
band_gap['mean'] = band_gap.iloc[:,2:7].apply(lambda x: exclude_diff_hsedata(x), axis=1)
end = time()
print(end - start)

759.1079649925232

In [5]:
# band_gap.to_csv('zhr_bandgap_correct.csv')